[submodule "annotation_training_d2j"]
	path = annotation_training_d2j
	url = https://github.com/Romihi/annotation_training_d2j.git
[submodule "data_viewer"]
	path = data_viewer
	url = https://github.com/Romihi/data_viewer.git
